#layout {
  display: flex;
  overflow: hidden;
  height: 100vh;

  .content {
    overflow: auto;
    box-sizing: border-box;
    height: calc(100vh - var(--header-height));
    padding: 1rem;
  }
}

#left {
  display: flex;
  flex-direction: column;
  width: var(--header-height);
  background: var(--bg-left);

  .icon { 
    z-index: 10;
    width: var(--header-height);
    height: var(--header-height);
    line-height: var(--header-height);
    font-size: var(--header-height);
    text-align: center;
    user-select: none;
    cursor: pointer;
  }

}

#main { 
  background: var(--bg-main);
  display: flex;
  flex-direction: column;
}
